body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color: #fff;
  --primary-color: #69f;
  --weak-primary-color: #9bf;
  --disabled-color: #bbb;
}

* {
  box-sizing: border-box;
}

a, a:active, a:visited, a:hover {
  color: var(--primary-color);
}
