.Button {
  width: 100%;
  display: inline-block;
  border: none;
  padding: 16px;
  margin: 0;
  text-decoration: none;
  background: var(--primary-color);
  color: var(--bg-color);
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Button:hover, .Button:active {
  background: var(--weak-primary-color);
}

.Button:disabled {
  background-color: var(--disabled-color);
}
